<nav class="mdl-navigation">
    <slot name="default"></slot>

    <style>

    </style>


    <script lang="ts">
        import { UINavbarItemGroup } from "./UINavbarItemGroup.ts";
        export default new UINavbarItemGroup();
    </script>

</nav>
